.FooterContacts {
    display: flex;
    background-color: rgb(243, 243, 241);
    margin: 0;
    padding: 3%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grey {
    color: #555;
}

.aFooterContacts {
    font-size: 17px;
    color: #3b386e;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pFooter {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .FooterContacts {
        flex-wrap: wrap;
    }

    .upPadding {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}