body {
    padding: 0;
}

.MainNav {
    padding: 3px 10%;
    display: flex;
    text-align: center;
    margin: 0;
    font-size: large;
    background-color: rgb(54, 53, 53);
}

.aMainNav {
    width: 25%;
    background-color: rgb(54, 53, 53);
    color: white;
    text-decoration: none;
    padding: 15px 10px 5px;
}

.aMainNav:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.aMainNav:focus {
    border: 2px solid white;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .MainNav {
        padding: 10px 5%;
        flex-wrap: wrap;
    }

    .aMainNav {
        width: 50%;
    }
}