body {
  font-size: 100%;
  height: 2000px;
}
*{
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: rgb(243, 243, 241);
  --black-color: black;
  --white-color: white;
  --red-but-color: rgb(107, 28, 28);
  --grey-color: rgb(156,156,156);
 
}
.img-main {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}
.marg-top5{
  margin-top: 2px;
}
.color-back{
  background-color: var(--background-color);
} 

.text-main {
  position: absolute;
  bottom: 5%;
  left: 20%;
  color: var(--white-color);
}
@media screen and (min-width: 992px) {
  div.text-main {
    font-size: 3.4em;
  }
}

@media screen and (min-width: 768px) {
  div.text-main {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 768px) {
  div.text-main {
    font-size: 1.4em;
  }
}

.butt-I {
  position: fixed;
  top: 50%;
  right: 2%;
  background-color: var(--red-but-color);
  width: 80px;
  height: 80px;
  font-size: 3em;
  border-radius: 5%;
  color: var(--white-color);
}

@media screen and (max-width: 600px) {
  .butt-I {
    display: none;
  }
}

.text-rigth {
  float: right;
}

.header-main {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

#bord-left {
  border-left: 1px solid var(--grey-color);
  padding-left: 20px;
}

.padding {
  padding: 5%;
}

.f-size {
  font-size: 1.5em
}